@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0px;
    padding: 0px;
    background: #140025;   
    font-family: Montserrat, sans-serif;
}


main{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffff;
}

#title{
    font-size: 100px;
    margin-bottom: -5px;
    margin-top: 100px;
    text-shadow:0 0 20px #a5a5a5;
    animation: de-cima 1s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
}

#text1{
    font-size: 30px;
    margin-bottom: -3px;
    animation: esquerda 1s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
}

#text2{
    font-size: 25px;
    margin-bottom: -10px;
    animation: direita 1s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
}

.linha::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    margin-top: 100px;
    left: 0;
    background-color: #9e9e9e;
}


.container{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    margin-top: 12%;
}


/* - Exercicio 1 - */

.container a#ex1{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #b601fd;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 50px;
    overflow: hidden;
    transition: 1s;
    animation: entrada-botoes 0.5s cubic-bezier(0.785, 0.135, 0.150, 0.860) 1s both;
}

.container a#ex1:hover{
    color: #140025;
    background: #ffffff;
    box-shadow: 0 0 10px #8301fd, 0 0 40px #8301fd, 0 0 80px #8301fd;
}


/* - Exercicio 2 - */

.container a#ex2{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #00a2ff;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 50px;
    overflow: hidden;
    transition: 1s;
    animation: entrada-botoes 0.5s cubic-bezier(0.785, 0.135, 0.150, 0.860) 1.1s both;
}

.container a#ex2:hover{
    color: #140025;
    background: #ffffff;
    box-shadow: 0 0 10px #00a2ff, 0 0 40px #00a2ff, 0 0 80px #00a2ff;
}

/* - Exercicio 3 - */

.container a#ex3{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fccd18;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 50px;
    overflow: hidden;
    transition: 1s;
    animation: entrada-botoes 0.5s cubic-bezier(0.785, 0.135, 0.150, 0.860) 1.2s both;
}

.container a#ex3:hover{
    color: #140025;
    background: #ffffff;
    box-shadow: 0 0 10px #fccd18, 0 0 40px #fccd18, 0 0 80px #fccd18;
}

/* - Exercicio 4 - */

.container a#ex4{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #8ffff2;
    cursor: pointer;;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 50px;
    overflow: hidden;
    transition: 1s;
    animation: entrada-botoes 0.5s cubic-bezier(0.785, 0.135, 0.150, 0.860) 1.3s both;
}

.container a#ex4:hover{
    color: #140025;
    background: #ffffff;
    box-shadow: 0 0 10px #8ffff2, 0 0 40px #8ffff2, 0 0 80px #8ffff2;
}

/* - Exercicio 5 - */

.container a#ex5{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #ee7256;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 50px;
    overflow: hidden;
    transition: 1s;
    margin-top: 70px;
    animation: entrada-botoes 0.5s cubic-bezier(0.785, 0.135, 0.150, 0.860) 1.4s both;
}

.container a#ex5:hover{
    color: #140025;
    background: #ffffff;
    box-shadow: 0 0 10px #ee7256, 0 0 40px #ee7256, 0 0 80px #ee7256;
 
}

/* - Exercicio 6 - */

.container a#ex6{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #00ffc8;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 50px;
    overflow: hidden;
    transition: 1s;
    margin-top: 70px;
    animation: entrada-botoes 0.5s cubic-bezier(0.785, 0.135, 0.150, 0.860) 1.5s both;
}

.container a#ex6:hover{
    color: #140025;
    background: #ffffff;
    box-shadow: 0 0 10px #00ffc8, 0 0 40px #00ffc8, 0 0 80px #00ffc8;
}

/* - Exercicio 7 - */

.container a#ex7{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #0030b4;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 50px;
    overflow: hidden;
    transition: 1s;
    margin-top: 70px;
    animation: entrada-botoes 0.5s cubic-bezier(0.785, 0.135, 0.150, 0.860) 1.6s both;
}

.container a#ex7:hover{
    color: #140025;
    background: #ffffff;
    box-shadow: 0 0 10px #0030b4, 0 0 40px #0030b4, 0 0 80px #0030b4;
}

/* - Exercicio 8 - */

.container a#ex8{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #ff3572;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 50px;
    overflow: hidden;
    transition: 1s;
    margin-top: 70px;
    animation: entrada-botoes 0.5s cubic-bezier(0.785, 0.135, 0.150, 0.860) 1.7s both;
}

.container a#ex8:hover{
    color: #140025;
    background: #ffffff;
    box-shadow: 0 0 15px #ff3572, 0 0 45px #ff3572, 0 0 85px #ff3572;
}

/* - Exercicio 9 - */

.container a#ex9{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #ff3535;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 50px;
    overflow: hidden;
    transition: 1s;
    margin-top: 70px;
    animation: entrada-botoes 0.5s cubic-bezier(0.785, 0.135, 0.150, 0.860) 1.7s both;
}

.container a#ex9:hover{
    color: #140025;
    background: #ffffff;
    box-shadow: 0 0 15px #ff3535, 0 0 45px #ff3535, 0 0 85px #ff3535;
}

/* - Exercicio 10 - */

.container a#ex10{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #A2E84D;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 50px;
    overflow: hidden;
    transition: 1s;
    margin-top: 70px;
    animation: entrada-botoes 0.5s cubic-bezier(0.785, 0.135, 0.150, 0.860) 1.7s both;
}

.container a#ex10:hover{
    color: #140025;
    background: #ffffff;
    box-shadow: 0 0 15px #A2E84D, 0 0 45px #A2E84D, 0 0 85px #A2E84D;
}

/* - Exercicio 11 - */

.container a#ex11{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #423BEB;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 50px;
    overflow: hidden;
    transition: 1s;
    margin-top: 70px;
    animation: entrada-botoes 0.5s cubic-bezier(0.785, 0.135, 0.150, 0.860) 1.7s both;
}

.container a#ex11:hover{
    color: #140025;
    background: #ffffff;
    box-shadow: 0 0 15px #423BEB, 0 0 45px #423BEB, 0 0 85px #423BEB;
}

/* - Exercicio 12 - */

.container a#ex12{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #dc8051;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 50px;
    overflow: hidden;
    transition: 1s;
    margin-top: 70px;
    animation: entrada-botoes 0.5s cubic-bezier(0.785, 0.135, 0.150, 0.860) 1.7s both;
}

.container a#ex12:hover{
    color: #140025;
    background: #ffffff;
    box-shadow: 0 0 15px #dc8051, 0 0 45px #dc8051, 0 0 85px #dc8051;
}

/* - Exercicio 13 - */

.container a#ex13{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #b8faff;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 50px;
    overflow: hidden;
    transition: 1s;
    margin-top: 70px;
    animation: entrada-botoes 0.5s cubic-bezier(0.785, 0.135, 0.150, 0.860) 1.7s both;
}

.container a#ex13:hover{
    color: #140025;
    background: #ffffff;
    box-shadow: 0 0 15px #b8faff, 0 0 45px #b8faff, 0 0 85px #b8faff;
}

/* - Exercicio 14 - */

.container a#ex14{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #b253ee;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 50px;
    overflow: hidden;
    transition: 1s;
    margin-top: 70px;
    animation: entrada-botoes 0.5s cubic-bezier(0.785, 0.135, 0.150, 0.860) 1.7s both;
}

.container a#ex14:hover{
    color: #140025;
    background: #ffffff;
    box-shadow: 0 0 15px #b253ee, 0 0 45px #b253ee, 0 0 85px #b253ee;
}

/* - Exercicio 15 - */

.container a#ex15{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #ffe760;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 50px;
    overflow: hidden;
    transition: 1s;
    margin-top: 70px;
    animation: entrada-botoes 0.5s cubic-bezier(0.785, 0.135, 0.150, 0.860) 1.7s both;
}

.container a#ex15:hover{
    color: #140025;
    background: #ffffff;
    box-shadow: 0 0 15px #ffe760, 0 0 45px #ffe760, 0 0 85px #ffe760;
}

/* - Exercicio 16 - */

.container a#ex16{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #60ffc2;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 50px;
    overflow: hidden;
    transition: 1s;
    margin-top: 70px;
    animation: entrada-botoes 0.5s cubic-bezier(0.785, 0.135, 0.150, 0.860) 1.7s both;
}

.container a#ex16:hover{
    color: #140025;
    background: #ffffff;
    box-shadow: 0 0 15px #60ffc2, 0 0 45px #60ffc2, 0 0 85px #60ffc2;
}

/* - Animaçoes - */

@keyframes de-cima {
    0% {
      transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
 }
}

@keyframes esquerda {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes direita {
    0% {
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes entrada-botoes {
    0% {
        transform: scale(0);
        opacity: 1;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
}