body {
    background: linear-gradient(70deg, #FF2E6F,#FF6D29);
}

main h2 {
    color: #6e0330;
}

.input-field .underline::after {
    background: linear-gradient(45deg, #FF2E6F,#FF6D29);
}

.input-field input::placeholder {
    color: #6e0330;
  }

  form input[type="submit"] {
    margin-top: 2rem;
    padding: 0.4rem;
    background: linear-gradient(to left, #FF2E6F,#FF6D29);
    cursor: pointer;
    color: #000000;
    font-size: 1.5rem;
    border-radius: 15px;
    width: 100%;  
    font-weight: 300; 
}

.results{
    background-image: linear-gradient(to left, #FF2E6F,#FF6D29);
    color: black;
}